<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Types of Software Testing</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="https://play-lh.googleusercontent.com/ehwliTbTSTW7T33U_Rir2pJfPoBPYCsYGStNxqnoBHR0pICIjZ9CWJ0hMQTB52-kXk8" type="image/x-icon">
    <link rel="stylesheet" href="static/CSS/style.css">
    <script src="static/JS/scroll.js"></script>
    <style>
body{
    background-color: rgb(192, 216, 165);
    font-family: 'Times New Roman', Times, serif;
}
.content h1{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}
.content h2{
    font-size: 1.8em;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.content h3{
    font-size: 1.8em;
    font-weight: normal;
    color: #666;
    margin-bottom: 15px;
    padding-left: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.content p, h6{
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}
h6{
    font-size: large;
}
.test ul li a{
    font-weight: bold;
    color: #0000ee;
    padding-left: 35px;
}
.image img{
    padding-left: 20px;
}
.image p{
    padding-left: 500px;
    font-style: italic;
    color: black;
}
.domain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.box{
    width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #daf0ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}
.box:hover {
    transform: scale(1.05);
}
.box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.box h4 {
    font-size: 1rem;
    margin-bottom: 10px;
}
    </style>
</head>
<body>
    <div id="container">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $(function(){
                $("#container").load("static/templates/banner.html");
            })
        </script>
    </div>
    
    <div class="content">
        <section class="part_1" id="Introduction">
            <h1>Introduction</h1>
            <p>Software testing is a critical process in the development of any software system. It involves evaluating the functionality of a system to ensure it meets the specified requirements and performs as expected. Web testing, specifically, is a crucial process in the development of websites and web applications. It involves assessing the functionality, usability, performance, and security of a website to ensure it meets user expectations and performs efficiently across various devices and browsers. Web testing helps identify issues such as broken links, incorrect content, slow loading times, and vulnerabilities that could compromise the website's integrity. By conducting comprehensive web testing, developers can enhance the quality of their websites, improve user satisfaction, and maintain a competitive edge in the digital landscape.</p>
        </section>
        <section class="part_2" id="Types_of_Software_Testing">
            <h1>Types of Software Testing</h1>
        </section>
        
        <h2>1. Principles of Testing</h2>
        <p>Ensuring that all tests align with the specific requirements of the customer is paramount in software development. It's essential to engage a third-party entity for testing to guarantee the quality and integrity of the software. While exhaustive testing is impractical, it's crucial to tailor the testing approach based on the risk assessment of the application, ensuring an optimal balance. Prior planning of all tests before implementation is necessary to streamline the testing process effectively. Embracing the Pareto Principle, which suggests that the majority of errors originate from a minority of program components, underscores the importance of prioritizing testing efforts. Beginning testing with smaller components and gradually extending to larger ones facilitates a systematic and thorough examination of the software's functionality and performance. Additionally, understanding various testing methodologies is essential for comprehensive software testing.</p>
        <h2>2. Types of Testing</h2>
        <p>Here, you can discuss the various types of software testing.</p>
        <div class="image">
           <img src="https://scontent.ftun7-1.fna.fbcdn.net/v/t1.15752-9/430029091_3423736407917342_4663149576978141165_n.png?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=_-SglKi_ewwAX9Dvmeq&_nc_ht=scontent.ftun7-1.fna&oh=03_AdRLn0Uuo4EhuSIeyOZsXwwajxISnBZL2gpEdyHu6Ghz5A&oe=6628ECA4" alt="Image">
           <p>Types of Software Testing</p>
        </div>
        
        <h3>1. Manual Testing</h3>
        <p>
            Manual testing is a technique to test the software that is carried out using the functions and features of an application. In manual software testing, a tester carries out tests on the software by following a set of predefined test cases. In this testing, testers make test cases for the codes, test the software, and give the final report about that software. Manual testing is time-consuming because it is done by humans, and there is a chance of human errors.
        </p>
        <div class="test">
            <ul>
                <li><a href="static/templates/white_box_testing.html">i) White Box Testing</a></li>

                <li><a href="static/templates/black_box_testing.html">ii) Black Box Testing</a></li>

                <li><a href="static/templates/grey_box_testing.html">iii) Grey Box Testing</a></li>
            </ul>
        </div>
        
        <h3>2. Automation Testing</h3>
        <p>
            Automated Testing is a technique where the Tester writes scripts on their own and uses suitable Software or Automation Tool to test the software. It is an Automation Process of a Manual Process. It allows for executing repetitive tasks without the intervention of a Manual Tester.
        </p> 
        <section class="part_3" id="Scope_of_Work">
            <h1>Scope of Work</h1>
            <h2>1. Description of the Testing Environment</h2>
            <p>We use Apache HTTP Server as our web server software to serve web pages and handle HTTP requests from clients. It is configured with virtual hosts to support multiple websites and domains.</p>
            <h2>2. Types of Testing Covered</h2>
            <p>In our project we choose to test the performance and Usability of our web site, we've developed a custom script to evaluate our website, followed by generating a comprehensive report. This report includes the execution times of each test case, offering valuable insights into the overall performance of the website.</p>
            <section class="domain">
                <div class="box">
                    <img src="static/images/script.jpg">
                </div>
            </section>
        </section>
        
        <section class="part_4" id="Methodology_Used">
            <h1>Methodology Used</h1>
            <h2>1. Approach to Testing</h2>
            <p>In our testing approach, we've opted for "Agile methodology". This means we work in short cycles, testing as we go and adapting to changes quickly. By collaborating closely, we ensure our testing efforts align with the evolving needs of the project. Agile allows us to deliver quality results efficiently and stay flexible in our testing strategies.</p>
            <section class="domain">
                <div class="box">
                    <img src="static/images/agile.jpg">
                    <h4>Agile Methodology</h4>
                </div>
            </section>
            <h2>2. Testing Strategies Employed</h2>
            <p>In our testing strategy, we prioritize "automated testing" over manual methods. Automated testing streamlines the process, detects defects early, and ensures consistency. It covers a wider range of scenarios, leading to higher test coverage and improved software quality. Additionally, it frees up human resources for more valuable testing activities. Overall, automated testing enhances productivity and helps deliver high-quality software efficiently.</p>
            <section class="domain">
                <div class="box">
                    <img src="static/images/testing.png">
                    <h4>Automated VS Manual Testing</h4>
                </div>
            </section>
        </section>
        
        <section class="part_5" id="Testing_Phases">
            <h1>Testing Phases</h1>
            <h2>1. Functionality testing</h2>
            <p>In our project, the Automated Testing is designed to simulate user interactions with the website which is Functional testing, such as clicking buttons, filling out forms, and navigating through different pages. These tests verify that the application's features and functionalities are working correctly according to the specified requirements.</p>
            <h2>2. Performance testing</h2>
            <p>Once you've confirmed that your application functions correctly and responsively across all browsers and devices, the next step is to assess its performance under heavy load. This involves testing the application's performance across varying internet speeds and evaluating its behavior under typical and peak loads. It's essential to closely monitor server response, focusing on key performance indicators such as latency, throughput, error rates, resource utilization, and response time distribution.</p>
        </section>

        <section class="part_6" id="Conclusion">
            <h1>Conclusion</h1>
            <p>In conclusion, software testing is a critical component of the software development lifecycle, ensuring that software systems meet the requirements of users, are reliable, secure, and perform as expected in various real-world scenarios. It is an iterative process that involves identifying defects, verifying functionality, and validating performance to deliver high-quality software products. By implementing thorough testing methodologies, organizations can mitigate risks, enhance user satisfaction, maintain regulatory compliance, and ultimately achieve their business objectives. As technology continues to advance and software systems become increasingly complex, the importance of software testing remains paramount in delivering reliable and innovative solutions to meet the evolving needs of users across diverse industries.
            </p>
        </section>
        

    </div>
        
    <div id="container3">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $(function(){
                $("#container3").load("static/templates/footer.html");
            })
        </script>
    </div>
</body>
</html>